<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Genre and Song Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="../static/styles/style.css">
  <script src="../static/js/app_pop.js"></script>
  <script src="../static/js/app_country.js"></script>
  <script src="../static/js/app_hiphop.js"></script>
  <script src="../static/js/app_rock.js"></script>
  <script src="../static/js/app_alt.js"></script>
</head>

<body>
  <header class="headerbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index2.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="rightnavbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="genre_song.html">Charts by Genre and Song<span class="sr-only">(current)</span></a></li>
            <li><a class="page-scroll" href="sentiment.html">Sentiment Analysis</a></li>
            <li><a class="page-scroll" href="word_analysis.html">Word Analysis</a></li>
        </div>
      </header>

      <div><h1>You're on the Genre and Song Analysis Page!</h1></div>
      
      <h2 class="pop_title">Pop Music Analysis</h2>
        <select id="selDataset_pop" onchange="getData_pop();">
            <option value="dataset1">Lyric Count</option>
            <option value="dataset2">Unique Word Count </option>
            <option value="dataset3">Lexical Diversity</option>
        </select>

        <div id="pop_bar"></div>

      <h2 class="country_title">Country Music Analysis</h2>
        <select id="selDataset_country" onchange="getData_country();">
            <option value="dataset1">Lyric Count</option>
            <option value="dataset2">Unique Word Count </option>
            <option value="dataset3">Lexical Diversity</option>
        </select>

        <div id="country_bar"></div>

      <h2 class="hiphop_title">Hip Hop Music Analysis</h2>
        <select id="selDataset_hiphop" onchange="getData_hiphop();">
            <option value="dataset1">Lyric Count</option>
            <option value="dataset2">Unique Word Count </option>
            <option value="dataset3">Lexical Diversity</option>
        </select>

        <div id="hiphop_bar"></div>

      <h2 class="rock_title">Rock Music Analysis</h2>
        <select id="selDataset_rock" onchange="getData_rock();">
            <option value="dataset1">Lyric Count</option>
            <option value="dataset2">Unique Word Count </option>
            <option value="dataset3">Lexical Diversity</option>
        </select>

        <div id="rock_bar"></div>

        <h2 class="alt_title">Alternative Music Analysis</h2>
        <select id="selDataset_alt" onchange="getData_alt();">
            <option value="dataset1">Lyric Count</option>
            <option value="dataset2">Unique Word Count </option>
            <option value="dataset3">Lexical Diversity</option>
        </select>

    <div id="alt_bar"></div>

      </div>
</body>

</html>
