<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Music Sentiment Analysis </title>
  <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles/style.css">

</head>

<body>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to Best Team Ever’s Lyrics Analysis!
            </h1>
            <p>We analyzed the top 25 songs in Rock, Pop, Hip Hop, Country and Alternative. Check out the results by clicking one of these links:</p>
            <p>
                <a href="genre_song.html" class="btn-primary">Charts by Genre and Song</a>
            </p>
            <p>
                <a href="sentiment.html" class="btn-primary">Sentiment Analysis</a>
            </p>
            <p>
                <a href="word_analysis.html" class="btn-primary">Word Analysis</a>
            </p>
        </div>
    </section>
    
</body>

</html>
